<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- Register the custom assembly containing PipeMessageTarget -->
	<extensions>
		<add assembly="Importer.Common"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} |${level:uppercase=true}| ${message} ${exception:format=tostring}" />
		<target xsi:type="File" name="traceFile" fileName="${basedir}/logs/Trace/${shortdate}.log"
				layout="${longdate} |${level:uppercase=true}| ${message} ${exception:format=tostring}" />
		<target xsi:type="Console" name="console"
				layout="${longdate} |${level:uppercase=true}| ${message} ${exception:format=tostring}" />

		<!-- Custom Pipe Target with the same layout as other targets -->
		<target xsi:type="PipeMessage" name="pipe"
				layout="${longdate} |${level:uppercase=true}| ${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="Quartz.*" maxLevel="Info" final="true" />
		<logger name="*" minlevel="Trace" writeTo="traceFile" />
		<logger name="*" minlevel="Info" writeTo="file" />
		<logger name="*" minlevel="Trace" writeTo="console" />
		<!-- Add pipe target to all loggers -->
		<logger name="*" minlevel="Info" writeTo="pipe" />
	</rules>
</nlog>