<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CaseConverter" version="2.0.1" targetFramework="net462" />
  <package id="Dapper" version="2.1.66" targetFramework="net462" />
  <package id="Data.HashFunction.Blake3" version="3.1.2" targetFramework="net462" />
  <package id="Data.HashFunction.Core" version="3.1.2" targetFramework="net462" />
  <package id="Data.HashFunction.Interfaces" version="3.1.2" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.1" targetFramework="net462" />
  <package id="Microsoft.Data.Sqlite.Core" version="9.0.4" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="NLog" version="5.4.0" targetFramework="net462" />
  <package id="SQLitePCLRaw.core" version="2.1.10" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net462" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
</packages>